body {
    width: 600px;
    height: 500px;
    margin: auto;
}

.ticTacBox {
    width: 70px;
    height: 40px;
    margin: auto;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 30px;
    text-align: center;
}

#reset {
    display: block;
    box-sizing: border-box;
    width: 85px;
    height: 35px;
    border: 1px solid black;
    border-radius: 4px;
    background-color: cyan;
    color: black;
    font-size: 20px;
    padding: 2px;
    margin: 30px;
}

#resut {
    color: black;
    font-size: 45px;
    margin: 30px;
}

#invalid {
    display: block;
    color: darkred;
    font-size: 25px;
}